name: Release

on:
  push:
    branches:
    - 'main'

jobs:
  buildtest:
    name: test_ubuntu_go${{ matrix.go }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout


    # - name: golangci-lint
    #   uses: golangci/golangci-lint-action@v6
    #   with:
    #     args: --timeout 5m --verbose

    - name: Test
      run: |
        go get .
        CGO_ENABLED=0 go test -v --cover -coverprofile=coverage ./...

    - name: Codecov
      uses: codecov/codecov-action@v4
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        file: coverage

    - name: Create draft release
      run: |
        gh release create draft --draft

  u-build:
    name: build_ubuntu_go${{ matrix.go }}
    needs: [buildtest]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout

    - name: Build
      run: |
        go get .
        CGO_ENABLED=0 go build -pgo=auto -v -buildmode=exe .
      
    - name: zip
      run: zip -q -r ubuntu_go${{ matrix.go }}.zip ./

    - name: Upload a Release Asset
      run: |
        gh release upload draft ubuntu_go${{ matrix.go }}.zip

  w-build:
    name: build_windows_go${{ matrix.go }}
    needs: [buildtest]
    runs-on: windows-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout


    - name: Build
      run: |
        go get .
        go build -pgo=auto -v -buildmode=exe .
        
    - name: zip
      run: .\7za.exe a -r .\windows_go${{ matrix.go }}.zip ./

    - name: Upload a Release Asset
      run: |
        gh release upload draft windows_go${{ matrix.go }}.zip

  m-build:
    name: build_macos_go${{ matrix.go }}
    needs: [buildtest]
    runs-on: macos-latest
    strategy:
      matrix:
        go: [ '1.25' ]
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
    - name: Set up Go${{ matrix.go }}
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout


    - name: Build
      run: |
        go get .
        go build -pgo=auto -v -buildmode=exe .
        
    - name: zip
      run: zip -q -r macos_go${{ matrix.go }}.zip ./

    - name: Upload a Release Asset
      run: |
        gh release upload draft macos_go${{ matrix.go }}.zip
